# Config file for pre-commit, a framework for managing pre-commits
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace # trims trailing whitespace
    -   id: end-of-file-fixer # files end with one newline
    -   id: check-toml # checks toml files
    -   id: check-yaml # checks yaml files

# Runs isort, which sorts imports
# Note that it is configured with black-compatible settings
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: ["--profile", "black", "--filter-files"]

# Runs black
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.10

# Runs flake8
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8

# Runs mypy
# Uses local environment as opposed to mypy-mirror to enable access to dependencies
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    -   id: mypy
        #        name: mypy
        #        language: system
        #        entry: poetry run mypy
        # excludes checking files in docs
        exclude: ^(docs/)
        types: [python]
        additional_dependencies:
          - attrs
          - types-python-dateutil
          - types-requests
